.suggestion {
  border-radius: 8px;
  background-color: var(--system-smoky, #f6f6fa);
  padding: 4px 6px 8px 6px;

  &__text {
    background: linear-gradient(93deg, #da15b8 4.93%, #8d06cc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
